
.normal {
  font-family: Georgia, sans-serif;
  text-align: left;
}
.title::before {
  content: '';
  margin-left: 4rem;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: #ffffff;
  line-height: 5rem;
  height: 5rem;
  color: #7e7c7c;
  margin: 0;
}
